@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$main-color: #0e0b16;
$secendary-color: #a239ca;
$third-color: #4717f6;
$font-color: #E7DFDD;


$default-font: 'arial',
'sans-serif';
$special-font: 'roboto',
'arial',
'sans-serif';